<div class="topheader-wrapper">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="../../assets/images/primetile-logo-W.png" width="150" class="responsive" />
      </a>
      <ul class="nav nav-pills nav-pills-customise col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span><i class="bi bi-boxes"></i></span>&nbsp; Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span><i class="bi bi-lightbulb"></i></span>&nbsp; Inspiration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span><i class="bi bi-shop"></i></span>&nbsp; Find a dealer
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-warning me-2">Get Quote!</button>
        <button type="button" class="btn btn-outline-dark"><i class="bi bi-list"></i></button>
      </div>
    </header>
  </div>
</div>
