nav {
  font-size: 1.5rem;
  .dropdown-item {
    font-size: 1.5rem;
  }
  a {
    color: #6d6a68;
  }
  height: 4rem;
  background: #fff;
  .nav-link-container {
    @media screen and (max-width: 991.98px) {
      background: #fff;
    }
  }
  img {
    width: auto;
    height: 70px;
  }
  a.nav-link {
    padding: 1.45rem 1.75rem;
    font-weight: 600;
    color: #3f5571;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;

    &:hover {
      visibility: visible;
      background-color: #3f5571 !important;
      color: #fff;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }
    &.dropdown-toggle.show {
      background-color: #3f5571 !important;
      color: #fff;
    }
  }

  .navbar-nav {
    .nav-item {
      .dropdown-menu[data-bs-popper] {
        margin-top: 0;
      }
      .dropdown-menu {
        width: 100%;
        &.show {
          li {
            padding: 0.25rem 0;
            a {
              font-weight: 600;
            }
          }
        }
        a {
          color: #4d4d4d;
          text-transform: uppercase;
          &:hover {
            width: auto;
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.large-screen {
  max-width: 2000px;
  margin: 0 auto;

  .navbar-nav {
    margin-right: 0 !important;
  }
}

