<div class="banner-wrapper">
  <div class="container">
    <div class="col-md-6 col-sm-12 banner-text-customise">
      <h5>{{configurations.pst_welcometext}}</h5>
      <h1>
        {{configurations.pst_aboutheader}}
      </h1>
      <h6>{{configurations.pst_aboutbody}}</h6>
      <!--<div class="input-group banner-ig-customised mt-5">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append search-btn">
          <a href="#" class="search-ic" [routerLink]="['/CollectionGallerySearch']"><i class="bi bi-search"></i></a>-->

          <!--(click)="onSearch($event)"-->
        <!--</div>
      </div>-->
    </div>
  </div>
</div>
