<section class="py-5 text-center hero">
  <div class="container-fluid">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Room Scenes</h1>
        <p class="lead text-muted">Browse wide variety of Room Scenes</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="py-5 text-center container">
    <div
      *ngIf="!loading"
      class="row row-cols-1 row-cols-md-6 g-5 justify-content-center"
    >
      <div *ngFor="let item of roomScenesCollection" class="col">
        <div class="card h-75">
          <img
            (click)="openPopup(item.documentbody)"
            src="{{ 'data:image/jpg;base64,' + item.documentbody }}"
          />
          <!-- <div class="card-body">
            <p class="card-title">{{ item.pst_name }}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    <div *ngIf="loading" class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>

<!-- Modal code -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ 'data:image/jpg;base64,' + fullImage }}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
