.hero {
  border: 2px solid #3f5571;
  border-top: none;
  background: url("../../../assets/images/hero/prod-search-hero.webp");
  background-size: cover;
  h1 {
    font-size: 4rem;
    color: #fff;
  }
  p {
    font-size: 2rem;
    color: #fff !important;
  }
}

.card {
  img {
    height: 250px;
    width: auto;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: 3px solid #3f5571;
  transition: 0.3s;
  &:hover {
    //box-shadow: 8px 8px 8px blue;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}

.modal {
  background-color: rgb(63, 85, 113, 0.5);
  .modal-content {
    .modal-body {
      img {
        width: 100%;
      }
    }
  }
}
