<section>
  <!-- loading container -->
  <div *ngIf="loading" class="container-fluid">
    <div class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <!-- Room scenes slider container -->
  <div
    *ngIf="!loading && newRoomScenes.length !== 0"
    class="text-center"
  >
    <fancy-carousel [data]="newRoomScenes"></fancy-carousel>
  </div>
</section>

<section>
  <div class="py-5 text-center container">
    <div
      *ngIf="!loading"
      class="row row-cols-1 row-cols-md-4 g-5 justify-content-center"
    >
      <div *ngFor="let item of newRoomScenes" class="col">
        <div class="card h-95">
          <img
            (click)="openPopup(item.thumbnail)"
            src="{{ item.thumbnail.replace('\/', '/')}}"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    <div *ngIf="loading" class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>

<!-- Modal code -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{fullImage }}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
