<div [ngClass]="{'container-fluid large-screen': isLargeScreen, 'container': !isLargeScreen}" class="py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-md-3 g-0">
    <div
      class="col d-flex justify-content-center mb-4"
      *ngFor="let card of searchItems"
    >
      <div class="card position-relative">
        <img
          [src]="card.image"
          class="card-img-top"
          alt="Card Image"
        />
        <div class="card-body">
          <a class="btn btn-primary btn-lg align-self-start" href="{{card.button.link}}"
          role="button">{{card.button.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

