a {
  border-radius: 0;
  width: fit-content;
  margin-left: auto;
}

.card {
  img {
    object-fit: cover;
    height: 400px;
    width: 400px;
  }
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  transition: 0.3s;
  border: none;
  .card-body {
    position: absolute;
    bottom: 0;
    right: 0px;
  }
}