<div class="welcome-wrapper p-tb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 p-r-3 position-relative">
        <h1 class="pb-3 title-text position-relative">{{configurations.pst_welcomeheader}}</h1>
        <p>{{configurations.pst_welcomebody}}</p>
        <p></p>
        <!--<div class="pt-3 pb-4">
          <button type="button" class="btn-custom btn-round btn-c-red">READ MORE</button>
        </div>-->
      </div>
      <div class="col-sm-12">
        <!--<p>{{imageData}}</p>-->
        <img src="../../assets/images/primetile-banner1.jpg"  class="img-fluid" />
      </div>
    </div>
  </div>
</div>
