<div class="cg-itemview-wrapper">
  <div class="container">
    <div class="d-flex bd-highlight pb-3 pt-3">
      <div class="mr-auto">
        <h1 class="title-text">Ainslee Park</h1>
        <p>Glazed Porcelain & Ceramic Wall Tile</p>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex align-items-center">
          <a href="" class="btn btn-outline-dark rounded-pill pr-4 pl-4">Go back <i class="bi bi-arrow-return-left"></i></a>
          <a href="" class="text-center text-dark ml-5 mr-5 icon-size-md"><i class="bi bi-share"></i></a>
          <a href="" class="text-center text-dark icon-size-md"><i class="bi bi-heart"></i></a>
        </div>
        <div class="d-flex pt-4">
          <a href="" class="btn btn-dark rounded-pill btn-download">Download it now! &nbsp; <i class="bi bi-filetype-pdf"></i></a>
        </div>
      </div>
    </div>
    <!----------CAROSAL START--------------->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-img" style="background-image: url(../../assets/images/banner2.jpg);"></div>
          <!-- <img src="../../assets/images/banner2.jpg" class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <div class="carousel-img" style="background-image: url(../../assets/images/banner3.jpg);"></div>
          <!-- <img src="../../assets/images/banner3.jpg" class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <div class="carousel-img" style="background-image: url(../../assets/images/banner4.jpg);"></div>
          <!-- <img src="../../assets/images/banner4.jpg" class="d-block w-100" alt="..."> -->
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <!----------CAROSAL END--------------->
    <div class="col-sm-12 pt-5 pb-5">
      <p>Classic designs paired elegantly with modern formats make Ainslee Park by Parkskill Tile the perfect option for today’s easy eclectic spaces. Marble looks feature bold graphics that allow each color to be a standout in the crowded world of interior decor. Glossy ceramic wall and matte porcelain floor tile coordinate beautifully to allow for a continuous design theme throughout any space.</p>
      <p>Four distinct colors: Breccia Mist is a cool gray with strong veining of dark smoke and wispy whites. Emperador Beige is a warm sandy neutral with a bright elaborate vein. Calacatta Gold is evocative of its namesake stone featuring a thick gray vein graphic with a subtle gold undertone. Zebrino Taupe is the stunning zenith of this collection with linear veins of cool gray and warm taupe.</p>
      <p>Glossy Ceramic wall tiles in a 12.1x24.4 format and matte porcelain floor tiles are available in 3.75x12 (rectified), 12x12 and 12x24 formats. A diverse selection of mosaics and accessory pieces round out this flexible collection: </p>
      <ul class="list-space">
        <li>36-piece mesh-mounted mosaic in Breccia Mist, Calacatta Gold, and Emperador Beige</li>
        <li>1x6 mesh-mounted, stack mosaic in Zebrino Taupe</li>
        <li>Hexagon mesh-mounted mosaic features a mix of Breccia Mist and Calacatta Gold</li>
        <li>2x12 wall listellos in metallic tones of Brass or Steel</li>
        <li>Matte, porcelain 3x12 floor bullnose in all colors</li>
        <li>Glossy, ceramic 3x12 wall bullnose in all colors and 3x3 wall bullnose corner in all colors except for Zebrino Taupe</li>
      </ul>
    </div>
    <!----------Accordion Section Start-------------->
    <div class="col-sm-12 pb-5">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-left accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Wall Tile (Ceramic) - 12.1X24.4
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Floor/Wall Tile - 12X24
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Floor/Wall Tile - 12X12
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Floor/Wall Tile (Rectified) - 3.75X12
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                36 Piece - M122
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Stack Mosaic - M1X6STK
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Hexagon Mix Misaic - M4X4HEX
              </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed accordian-tabs" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Listellos (Wall Only) - 2X12
              </button>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body p-5 pb-4">
              <div class="row row-cols-1 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Calacatta_Gold.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Calacatta Gold</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Emperador_Beige.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Emperador Beige</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Zebrino_Taupe.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Zebrino Taupe</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-img" style="background-image: url(../../assets/images/Breccia_Mist.png);"></div>
                    <!-- <img src="../../assets/images/Calacatta_Gold.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h4 class="card-title">Breccia Mist</h4>
                      <p class="card-text">FTIAIN1W12.1X24.4</p>
                      <ul class="card-list">
                        <li>
                          <span>Look</span>
                          <span>Marble</span>
                        </li>
                        <li>
                          <span>Type</span>
                          <span>Ceramic Wall Tile</span>
                        </li>
                        <li>
                          <span>Finish</span>
                          <span>Glossy</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------Accordion Section End-------------->
    <!-----------Table Section Start-------------->
    <div class="col-sm-12 pb-4">
      <h4>Technical Specifications</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">ANSI A326.3+</th>
            <td>Interior, Wet Plus (IW+)</td>
            <th scope="row">Breaking Strength</th>
            <td>≥ 450 lbf. avg.</td>
          </tr>
          <tr>
            <th scope="row">Recycled Content</th>
            <td>40%</td>
            <th scope="row">Intended Use</th>
            <td>Residential, Light Commercial & Heavy Commercial</td>
          </tr>
          <tr>
            <th scope="row">Surface Hardness</th>
            <td>7 Mohs</td>
            <th scope="row">Water Absorption</th>
            <td>≤ 0.5%</td>
          </tr>
          <tr>
            <th scope="row">Thickness</th>
            <td>
              <div class="d-flex flex-column">
                <span>8mm (3.75x12 & 12x12)</span>
                <span>9mm (12x24)</span>
                <span>7mm (12.1x24.4)</span>
              </div>
            </td>
            <th scope="row">Edge</th>
            <td>
              <div class="d-flex flex-column">
                <span>Rectified (3.75x12)</span>
                <span>Pressed (all other formats)</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-----------Table Section End-------------->


    <div class="col-sm-12 pb-5">
      <div class="alert alert-success" role="alert">
        <h6 class="alert-heading"><strong>Note:</strong></h6>
        <ul>
          <li>Outside corner not available in Zebrino Taupe.</li>
          <li>Country of origin and other product features and characteristics are subject to change due to manufacturing efficiencies and other factors.</li>
          <li>See retailer or product packaging to verify country of origin and other product characteristics.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
