<section class="py-5 text-center hero">
  <div class="container-fluid">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>{{ id.replace('%', ' ')}}</h1>
        <p class="lead text-muted">Browse the {{ id.replace('%', ' ')}} category items </p>
      </div>
    </div>
  </div>
</section>

<!-- Tiles section -->
<section>
  <!-- loading container -->
  <div *ngIf="tilesLoading" class="container py-5">
    <div class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <!-- result container -->
  <div *ngIf="!tilesLoading && filteredTilesByCategory.length !==0" class="py-5 text-center container">
    <div class="h1 pb-2 mb-4 border-bottom">
      TILES
    </div>
    <div
      class="row row-cols-1 row-cols-md-4 g-5 justify-content-center"
    >
      <div *ngFor="let item of filteredTilesByCategory" class="col">
        <div class="card h-95">
          <!-- <img
            (click)="openPopup(item.documentbody)"
            src="{{ 'data:image/jpg;base64,' + item.documentbody }}"
          /> -->
          <img
          (click)="openPopup(item)" src="{{ item.thumbnail.replace('\/', '/')}}"
          />
          <!-- <div class="card-body">
            <p class="card-title">{{ item.pst_name }}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Room Scenes section -->
<section>
  <!-- loading container -->
  <div  *ngIf="rsLoading" class="container py-5">
    <div class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <!-- result container -->
  <div *ngIf="!rsLoading && filteredRoomScenesByCategory.length !==0" class="py-5 text-center container">
    <div class="h1 pb-2 mb-4 border-bottom">
      ROOM SCENES
    </div>
    <div
      class="row row-cols-1 row-cols-md-4 g-5 justify-content-center"
    >
      <div *ngFor="let item of filteredRoomScenesByCategory" class="col">
        <div class="card h-95">
          <!-- <img
            (click)="openPopup(item.documentbody)"
            src="{{ 'data:image/jpg;base64,' + item.documentbody }}"
          /> -->
          <img
            src="{{ item.thumbnail.replace('\/', '/')}}"
          />
          <!-- <div class="card-body">
            <p class="card-title">{{ item.pst_name }}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal code -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="{{ tileDetails?.thumbnail }}" />
            </div>
            <div class="col">
              <div class="row">
                <h4>Tile information</h4>
                <div class="col-3"><dt>Name:</dt></div>
                <div class="col-9">{{ tileDetails?.title }}</div>
                <br /><br />
                <div class="col-3"><dt>Shape:</dt></div>
                <div class="col-9">{{ tileDetails?.shape }}</div>
                <br /><br />
                <div class="col-3"><dt>Size:</dt></div>
                <div class="col-9">{{ tileDetails?.size }}</div>
                <br /><br />
                <div class="col-3"><dt>Type:</dt></div>
                <div class="col-9">{{ tileDetails?.type }}</div>
                <br /><br />
                <div class="col-3"><dt>Finish:</dt></div>
                <div class="col-9">{{ tileDetails?.finish }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="closePopup()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
