<!-- Room Scenes slider section -->
<section>
  <!-- loading container -->
  <div *ngIf="rsLoading" class="container-fluid">
    <div class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <!-- Room scenes slider container -->
  <div
    *ngIf="!rsLoading && filteredRoomScenesByCategory.length !== 0"
    class="text-center"
  >
    <fancy-carousel [data]="filteredRoomScenesByCategory"></fancy-carousel>
  </div>
</section>
<!-- Tiles section -->
<section>
  <!-- loading container -->
  <div *ngIf="tilesLoading" class="container py-5">
    <div class="row g-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <!-- result container -->
  <div *ngIf="!tilesLoading" class="py-5 text-center container">
    <div class="h1 pb-2 mb-4 border-bottom">TILES</div>
    <div
      *ngIf="filteredTilesByCategory.length !== 0"
      class="row row-cols-1 row-cols-md-4 g-5 justify-content-center"
    >
      <div *ngFor="let item of filteredTilesByCategory" class="col">
        <div class="card h-95">
          <img
            (click)="openPopup(item)"
            src="{{ item.thumbnail.replace('\/', '/') }}"
          />
          <div class="card-body">
            <p class="card-title">{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="filteredTilesByCategory.length == 0"
      class="row justify-content-center"
    >
      <div class="col">
        <div class="starter-template">
          <h1>Stay tuned, we'll comeback with tiles</h1>
          <p class="lead">
            Please review our other collections
            <a href="/TilesCollections">here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal code -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <gallery
                class="tileGallery"
                objectFit="contain"
                [items]="tileDetails?.sliderImages"
              ></gallery>
            </div>
            <div class="col">
              <div class="row">
                <h4>Tile information</h4>
                <div class="col-3"><dt>Name:</dt></div>
                <div class="col-9">{{ tileDetails?.title }}</div>
                <br /><br />
                <div class="col-3"><dt>Shape:</dt></div>
                <div class="col-9">{{ tileDetails?.shape }}</div>
                <br /><br />
                <div class="col-3"><dt>Size:</dt></div>
                <div class="col-9">{{ tileDetails?.size }}</div>
                <br /><br />
                <div class="col-3"><dt>Type:</dt></div>
                <div class="col-9">{{ tileDetails?.type }}</div>
                <br /><br />
                <div class="col-3"><dt>Finish:</dt></div>
                <div class="col-9">{{ tileDetails?.finish }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="closePopup()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
