.title-text {
  font-size: 5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 600;
}

.icon-size-md {
  font-size: 1.8rem;
}

.btn-download { 
  padding: 10px 35px;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.carousel-img {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-space li {
  padding: 8px 0;
}

.accordian-tabs {
  font-size: 1.1rem;
}

  .accordian-tabs, .accordian-tabs:focus {
    box-shadow: none;
    border: none;
  }

.card-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.card-img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-list {
  margin: 0;
  padding: 0;
}

  .card-list li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #767676;
    margin: 10px 0;
  }
