<div class="container-fluid footer-component">
  <footer>
    <div class="container">
      <div class="row content">
        <div class="col mb-3">
          <h5>PRODUCTS</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/TilesCollections']">Collections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mosaics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">2cm Porcelain Pavers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cotto d'Este</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>INSPIRATION</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/RoomScenes']">Room Scenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Installations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/VideoGallery']">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>RESOURCES</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item mb-2"><a [routerLink]="['/faq']" class="nav-link">FAQs</a></li>
            <li class="nav-item mb-2">
              <a [routerLink]="['/AboutUs']" class="nav-link">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col mb-3">
          <div>
            <h5>Catalog List</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">  <a [routerLink]="['/Catalog']" class="nav-link">Catalog</a></li>
                </ul>
          </div>
          <div class="mt-5">
            <a class="navbar-brand" href="#"
              ><img class = "footerLogo" src="../../../assets/images/parkskill_newlogo_white.jpeg"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
      >
        <p>©{{currentYear}} Parksill Tile. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://twitter.com/x?ref_src=twsrc%5Etfw" target="_blank"
              ><i class="bi bi-twitter-x"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.instagram.com/parkskill__tile/" target="_blank"
              ><i class="bi bi-instagram"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.facebook.com/" target="_blank"
              ><i class="bi bi-facebook"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://pin.it/3nd5sB28K" target="_blank"
              ><i class="bi bi-pinterest"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.youtube.com/@ParkskillTile" target="_blank">
              <i class="bi bi-youtube"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.linkedin.com/in/parkskill-tile-261b9932b/" target="_blank">
              <i class="bi bi-linkedin"></i
            ></a>
          </li>
          
        </ul>
      </div>
    </div>
  </footer>
</div>
