.footer-component {
  font-size: 1.25rem;
  color: #fff;
  footer {
    background: #466079;
  }
  padding: 0;
  .content {
    padding: 2rem;
  }
  h5 {
    padding: 1rem;
    font-weight: 600;
    text-decoration: underline;
  }
  .nav-link{
    color: #fff;
  }
}
