<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-4 bdr-db">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <img src="../../assets/images/primetile-logo-W.png" width="150" />
            <p class="mt-4 text-secondary"><strong>A trendy tilework for trendy home</strong></p>
            <div class="d-flex align-items-start flex-column">
              <div class="form-group subscribe_email">
                <label for="exampleInputEmail1">Subscribe to our Newsletter</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email..." aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-warning">We'll never share your email with anyone else.</small>
              </div>
              <button type="submit" class="btn-pt-red p-4 pt-2 pb-2">Submit</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2">
            <h5 class="text-light mb-3"><strong>Products</strong></h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Collections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mosaics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">2cm Porcelain Pavers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cotto d'Este</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2">
            <h5 class="text-light mb-3"><strong>Inspiration</strong></h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Room Scenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Installations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="d-flex align-items-lg-end flex-column bd-highlight mb-3">
              <div class="download_catalog">
                <a href="" class="d-flex flex-column align-items-center p-4 text-decoration-none">
                  <img src="../../assets/images/pdf_download_red.png" width="35%" />
                  <h5 class="pt-3 pb-3">Download Catalog 2024</h5>
                  <p class="m-0 text-secondary">See our latest online flipbook catalog and download.</p>
                </a>
              </div>
              <div class="mt-auto p-2 bd-highlight">
                <span>Y</span>
                <span>F</span>
                <span>P</span>
                <span>In</span>
                <span>I</span>
                <span>T</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center pt-4 pb-4">
        <div class="d-lg-flex flex-row justify-content-lg-between">
          <p class="text-secondary text-xs">Copyright © 2024 PrimeTiles Tile Inc.</p>
          <div class="d-flex flex-row justify-content-center link-red">
            <a href="#" class="text-decoration-none text-xs">Terms</a>
            <a href="#" class="mr-3 ml-3 text-decoration-none text-xs">Privacy</a>
            <a href="#" class="text-decoration-none text-xs">Cookies</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
