<div class="container-fluid footer-component">
  <footer>
    <div class="container">
      <div class="row content">
        <div class="col mb-3">
          <h5>PRODUCTS</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Collections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mosaics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">2cm Porcelain Pavers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cotto d'Este</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>INSPIRATION</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/RoomScenes']">Room Scenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Installations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>RESOURCES</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link">About</a>
            </li>
          </ul>
        </div>
        <div class="col mb-3">
          <div>
            <h5>Catalog 2024</h5>
            <img src="../../assets/images/pdf_download_red.png" />
          </div>
          <div class="mt-5">
            <a class="navbar-brand" href="#"
              ><img src="../../assets/images/primetile-logo-D.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
