.footer-component {
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  footer {
    background: #3f5571;
  }
  padding: 0;
  .content {
    padding: 2rem;
  }
  h5 {
    padding: 1rem;
    font-weight: 600;
    text-decoration: underline;
  }
  .nav-link{
    color: #fff;
    &:hover {
      color: #B5BABF;
      visibility: visible;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
