/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  color: #777777;
  padding: 0;
  margin: 0 auto;
}

.p-tb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-text {
  /* z-index: -1; */
  font-size: 6em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-style: italic;
  opacity: 0.1;
  top: -60px;
}

.title-text {
  font-size: 3.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-style: italic;
}

.title-text-style {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}

.no-tts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-xs {
  font-size: 0.875rem;
}

.title-text .title-bdr {
  position: relative;
  z-index: 99;
}

  .title-text .title-bdr::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    border-radius: 30px;
    background-color: #b04520;
    top: 48px;
    left: -10px;
    z-index: -1;
  }

.btn-custom {
  font-size: 1rem;
  color: #000;
  font-style: normal;
  padding: 10px 30px;
  border: 1px solid transparent;
  background-color: #fff;
}


.btn-round {
  border-radius: 30px !important;
  padding: 10px 30px !important;
}

.btn-c-red {
  border: 1px solid #000;
}

  .btn-c-red:hover {
    border: 1px solid #520404;
    background-color: #b04520;
    color: #fff;
  }

.link-red a {
  color: #a1a1a8;
}

  .link-red a:hover {
    color: #b04520;
  }


.btn-pt-red {
  background-color: #b04520;
  border: none;
  color: #fff;
  border-radius: 4px;
}

  .btn-pt-red:hover, .btn-pt-red:focus {
    color: #fff;
    background-color: #dc3545;
  }



.icon-action .icon {
  /*background-image: url(../../Icons/icons.png);*/
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: opacity 400ms cubic-bezier(.25,.46,.45,.94);
  -moz-transition: opacity 400ms cubic-bezier(.25, .46, .45, .94);
  transition: opacity 400ms cubic-bezier(.25,.46,.45,.94);
  width: 25px;
  height: 25px;
  margin: 0 6px;
}
