/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./fonts/font.scss";


html {
  text-rendering: optimizeLegibility !important;
  -webkit-text-stroke: 0.3pt;
  -webkit-font-smoothing: antialiased !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #000;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: #3f5571;
}

// SeconadyCOlor:#6D6A68
//Prim1:#3f5571
//Prim2: #657A92

.btn,
button {
  border-color: #3f5571 !important;
}

.btn,
button {
  &:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
  }
}

.btn-primary,
.btn-secondary {
  color: #fff !important;
  background-color: #3f5571 !important;
  &:hover {
    background-color: #445d7e !important;
  }
}

.btn-outline-primary,
.btn-outline-secondary {
  color: #3f5571 !important;
  &:hover {
    background-color: #3f5571 !important;
    color: #fff !important;
  }
}

.spinner-border {
  height: 3rem;
}
.tileGallery {
  height: 1000px !important;
  width: 600px !important;
  .clip {
    margin-bottom: 0.5rem;
  }
  .thumbs--bottom {
    li {
      width: auto !important;
      height: 200px !important;
      margin: 0 0.15rem;
      img {
        object-fit: contain;
      }
    }
  }
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  background-color: #3f5571 !important;
  border-color: #3f5571 !important;
}

.mdc-checkbox__ripple {
  background-color: #3f5571 !important;
}
.mat-mdc-paginator {
  font-size: 1rem !important;
  .mat-mdc-paginator-range-label {
    margin: 0 !important;
  }
}

.mat-expansion-panel-header {
  text-transform: uppercase;
  font-size: 1.5rem !important;
  padding: 0.5rem 1.25rem !important;
}

.mat-expansion-panel-body label.mdc-label {
  text-transform: uppercase;
  font-size: 1.25rem !important;
}

.galleryContainer {
  .tileGallery {
    .thumbs--bottom {
      background: none !important;
      li {
        margin: 0;
        &.thumbs-item--selected:after {
          border: none;
        }
        &:not(:last-child) {
          border-right: 5px solid rgba(255, 255, 255);
        }
      }
    }
  }
}

.icon-link {
  color: #3f5571;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #657A92;
    i.bi-arrow-right-short {
      transition: margin 0.3s ease-in-out;
      margin-right: 10px; /* Adjust the value as needed */
    }
  }
  i.bi-arrow-right-short {
    transition: margin 0.3s ease-in-out;
    position: relative;
    top: 5px;
  }
}
