<div class="container-fluid g-0 pt-5">
  <div class="row g-0 justify-content-center">
    <div class="col-md-4 text-center position-relative">
      <i class="icons-view bi bi-box-fill"></i>
      <h2>Tiles</h2>
      <h4>Browser our tiles collection</h4>
      <p class="pt-2">
        <a
          class="btn btn-outline-secondary btn-lg w-auto stretched-link"
          [routerLink]="['/TilesCollections']"
          >View details »</a
        >
      </p>
    </div>
    <div class="col-md-4 text-center position-relative">
      <i class="icons-view bi bi-file-earmark-pdf-fill"></i>
      <h2>Catalog</h2>
      <h4>Choose your tiles with the help of catalog</h4>
      <p class="pt-2">
        <a
          class="btn btn-outline-secondary btn-lg w-auto stretched-link"
          [routerLink]="['/Catalog']"
          >View details »</a
        >
      </p>
    </div>
    <div class="col-md-4 text-center position-relative">
      <i class="icons-view bi bi-telephone-inbound"></i>
      <h2>Contact Us</h2>
      <h4>Please reach us for any questions</h4>
      <p class="pt-2">
        <a
          class="btn btn-outline-secondary btn-lg w-auto stretched-link"
          [routerLink]="['/ContactUs']"
          >View details »</a
        >
      </p>
    </div>
  </div>
</div>
