.getquote-wrapper {
  /* background-image: url(../../assets/images/background_patterns_red.png);
    background-position: center; */
  width: 100%;
  min-height: 200px;
}

.bg-text {
  left: 0;
  width: 100%;
}

.title-text::before {
  left: auto;
}

.getquote-bg::before {
  background-image: url(../../../assets/images/banner1.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
}

.getquote-form {
  padding: 80px;
  margin: 100px 0;
  background-color: #fff;
}

  .getquote-form input.form-control {
    height: 60px;
  }

  .getquote-form input.form-control, .getquote-form .form-control {
    border: none;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
  }

    .getquote-form input.form-control:focus, .getquote-form .form-control:focus {
      box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 1);
    }
