.icons-view  {
  font-size: 3rem;
  color: #3f5571;
}

.large-screen {
  max-width: 2000px;
  margin: 0 auto;
}

.tilesSection {
  @media (max-width: 767.98px) { 
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
