<div class="getquote-wrapper p-tb-100">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <div class="getquote-bg"></div>
      <div class="col-sm-12 col-md-6">
        <form class="getquote-form">
          <div class="position-relative mt-4 mb-4">
            <span class="bg-text position-absolute">Enquiry</span>
            <h1 class="pb-3 title-text position-relative d-inline"><span class="title-bdr">Get a</span> Free Quote!</h1>
            <p class="mt-4">Parkskill has a stunning selection of products for any application and design style</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group mb-4 mt-4">
            <input type="email" class="form-control" placeholder="Email" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Want to ask something..." rows="4"></textarea>
          </div>
          <div class="form-group text-center mt-4">
            <button type="submit" class="btn-custom btn-round btn-c-red">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
