<div class="tile-collection-wrapper bg-light p-tb-100">
  <div class="container">
    <div class="d-flex justify-content-center text-center pb-5">
      <div class="position-relative">
        <!--<span class="bg-text position-absolute">Products</span>-->
        <h1 class="pb-3 title-text position-relative">{{configurations.pst_apptilecollectiontitle}}</h1>
        <p>{{configurations.pst_apptilecollectiondescription}}</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-3">
      <div class="col mb-4">
        <div class="card h-100">
          <a href="#" [routerLink]="['/CollectionGallerySearch']">
            <img src="../../assets/images/banner1.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p>Search By</p>
              <h4 class="card-title">Collection</h4>
              <p class="card-text">{{configurations.pst_searchbycollectiontext}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <a href="#" [routerLink]="['/CollectionGallerySearch']">
            <img src="../../assets/images/banner2.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p>Search By</p>
              <h4 class="card-title">Look</h4>
              <p class="card-text">{{configurations.pst_searchbylooktext}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <a href="#" [routerLink]="['/CollectionGallerySearch']">
            <img src="../../assets/images/banner3.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p>Search By</p>
              <h4 class="card-title">Color</h4>
              <p class="card-text">{{configurations.pst_searchbycolortext}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <a href="#" [routerLink]="['/CollectionGallerySearch']">
            <img src="../../assets/images/banner4.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p>Search By</p>
              <h4 class="card-title">Type</h4>
              <p class="card-text">{{configurations.pst_searchbytypetext}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <a href="#" [routerLink]="['/CollectionGallerySearch']">
            <img src="../../../assets/images/banner5.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p>Search By</p>
              <h4 class="card-title">Size</h4>
              <p class="card-text">{{configurations.pst_searchbysizetext}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <a href="#" [routerLink]="['/CollectionGallerySearch']">
            <img src="../../assets/images/banner6.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p>Search By</p>
              <h4 class="card-title">Shape</h4>
              <p class="card-text">{{configurations.pst_searchbyshapetext}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
