.btn,
button {
  text-transform: uppercase;
}
.hero {
  border: 2px solid #3f5571;
  border-top: none;
  background: url("../../../assets/images/hero/prod-search-hero.webp");
  background-size: cover;
  h1 {
    font-size: 4rem;
    color: #fff;
  }
  p {
    font-size: 2rem;
    color: #fff !important;
  }
}
.card {
  img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    @media (min-width: 1199.99px) { 
      height: 275px;
      width: 275px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  transition: 0.3s;
  border: none;
  &:hover {
    transform: scale(1.05);
  }
}

.bi {
  font-size: 3rem;
  color: #3f5571;
}

.large-screen {
  max-width: 2000px;
  margin: 0 auto;
  .card {
    img {
      height: 450px;
      width: 450px;
    }
  }
}

