<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
      <h2 class="mb-4 display-5 text-center">About Us</h2>
      <p class="text-secondary mb-5 text-center lead fs-4">
        Introducing Parkskill Tile Inc., a leading tile wholesaler dedicated to
        providing high-quality tiles at competitive prices. With a vast
        selection of ceramic, porcelain, and natural stone tiles, we cater to
        both residential and commercial projects.
      </p>
      <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="about-wrapper">
        <p class="lead mb-4 mb-md-5">
          Our commitment to exceptional customer service ensures that you
          receive personalized assistance throughout your buying journey.
          Whether you’re a contractor, designer, or DIY enthusiast, we have the
          perfect solutions to meet your needs. Explore our extensive inventory
          and discover the ideal tiles to transform your space with style and
          durability. Visit us online or in-store to experience the difference!
        </p>
      </div>
    </div>
  </div>
</div>
