<div class="subscription-wrapper position-relative">
  <div class="container">
    <div class="d-flex justify-content-center pb-5">
      <div class="position-relative mt-5">
        <span class="bg-text position-absolute text-white">Subscription</span>
        <h1 class="pb-3 title-text position-relative text-white"><span class="title-bdr">Keep</span> in Touch!</h1>
        <p class="text-white">Receive the Latest Inspiration</p>
      </div>
    </div>
    <div class="d-flex justify-content-center pb-5">
      <div class="col-6">
        <div class="d-flex flex-row subscription-form">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="mr-auto sform-btn">
            <button class="sf-btn" type="button" id="button-addon2">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
