<div class="side-nav-wrapper d-flex flex-column d-none">
  <div class="mb-auto">
    <h2 class="text-right clearfix mb-4">
      <a href="" class="text-danger">
        <i class="bi bi-x-circle-fill"></i>
      </a>
    </h2>
    <div class="d-flex flex-row justify-content-center horizontal-menu">
      <a href="" class="hm-lg-action d-flex flex-column justify-content-center text-center active">
        <span><i class="bi bi-house-door"></i></span>
        <span>Home</span>
      </a>
      <a href="" class="hm-lg-action d-flex flex-column justify-content-center text-center">
        <span><i class="bi bi-person"></i></span>
        <span>About</span>
      </a>
      <a href="" class="hm-lg-action d-flex flex-column justify-content-center text-center">
        <span><i class="bi bi-telephone"></i></span>
        <span>Contact</span>
      </a>
    </div>
    <div class="vertical-menu">
      <ul class="nav flex-column">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="CommercialSpace" href="#" aria-expanded="false">
            <span><i class="bi bi-plus-circle-fill"></i></span>
            <span class="pl-3">Commercial Space</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="Resources" href="#" aria-expanded="false">
            <span><i class="bi bi-plus-circle-fill"></i></span>
            <span class="pl-3">Resources</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="Sustainability" href="#" aria-expanded="false">
            <span><i class="bi bi-plus-circle-fill"></i></span>
            <span class="pl-3">Sustainability</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Find Store</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pt-4 bdr-t">
    <div class="d-flex flex-column">
      <div class="pb-2">
        <img src="../../assets/images/primetile-logo-W.png" width="150" />
        <p class="mt-4 text-secondary"><strong>A Trendy Tilework for Trendy Home</strong></p>
        <p class="social">
          <span class="pr-2 text-light"><strong>Follow on:</strong></span>
          <span class="sl-item">
            <a href="" class="sl-link">Yt</a>
          </span>
          <span class="sl-item">
            <a href="" class="sl-link">Pi</a>
          </span>
          <span class="sl-item">
            <a href="" class="sl-link">Fb</a>
          </span>
          <span class="sl-item">
            <a href="" class="sl-link">Tw</a>
          </span>
          <span class="sl-item">
            <a href="" class="sl-link">Li</a>
          </span>
        </p>
      </div>
      <div class="d-flex pt-4 bdr-t">
        <p class="text-secondary text-xs">Copyright © 2024 Parkskill Tile Inc.</p>
        <div class="ml-auto link-red">
          <a href="#" class="text-decoration-none text-xs">Terms</a>
          <a href="#" class="mr-3 ml-3 text-decoration-none text-xs">Privacy</a>
          <a href="#" class="text-decoration-none text-xs">Cookies</a>
        </div>
      </div>
    </div>
  </div>
</div>
