.side-nav-wrapper {
  width: 30%;
  height: 100vh;
  background-color: #000;
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.horizontal-menu {
  background-color: #151515;
}

.hm-lg-action {
  padding: 30px;
  color: #fff;
  border-right: 1px solid #080808;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
}

  .hm-lg-action:last-child {
    border-right: none;
  }

  .hm-lg-action:hover, .hm-lg-action.active {
    background-color: #2e2e2e;
  }


.vertical-menu {
  padding: 50px 0 0 0;
}

  .vertical-menu .nav .nav-item .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding: 1rem;
  }

.dropdown-toggle::after {
  display: none;
}

.social .sl-item {
  padding: 0 15px;
  font-weight: 600;
  font-size: 1rem;
}

  .social .sl-item .sl-link {
    color: #fff;
    text-decoration: none;
  }

    .social .sl-item .sl-link:hover {
      color: #b04520;
    }

.bdr-t, .bdr-b {
  border-top: 1px solid #2e2e2e;
}
