.btn,button {
  text-transform: uppercase;
}
.hero {
  border: 2px solid #3f5571;
  border-top: none;
  background: url("../../../assets/images/hero/prod-search-hero.webp");
  background-size: cover;
  h1 {
    font-size: 4rem;
    color: #fff;
  }
  p {
    font-size: 2rem;
    color: #fff !important;
  }
}
.card {
  img {
    height: 200px;
    object-fit: cover;
  }
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: 3px solid #3f5571;
  transition: 0.3s;
  &:hover {
    //box-shadow: 8px 8px 8px blue;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

.searchBox {
  margin-bottom: 1rem;
  form {
    display: flex;
    justify-content: center;
    .form-control {
      box-shadow: 0 10px 40px 0 #b0c1d9;
      width: 75%;
      margin-right: 0.5rem;
    }
  }
}

.catFilters {
  font-size: 1rem;
  margin-bottom: 1rem;
  button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.link {
  cursor: pointer;
  font-weight: 700;
  color: #3f5571 ;
}

.filterButtons {
  button {
    margin: .5rem
  }
}